@model IEnumerable<MVCCurs8.Models.ProjectEvaluation>

@section name1{
    <div>Total no of evaluations is @Model.Count()</div>}
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="evaluation">
        <h4>@item.Id,@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.Id)</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @(Html.Raw(item.Rating / 10))
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
